/* CSS stillerinizi buraya girin */
body {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h2 {
  padding-left: 40px;
}
nav {
  display: flex;
  align-content: center;
  align-items: center;
}

nav a {
  border: 1px solid black;
  text-decoration: none;
  padding: 10px 0px;
  width: 100px;
  text-align: center;
  color: black;
}
main {
  width: 80vw;
  height: 50vw;
  margin: auto;
  background-image: url(https://picsum.photos/800/500);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
main a,
footer a {
  border: 1px solid black;
  text-decoration: none;
  padding: 10px 0px;
  width: 100px;
  text-align: center;
  background-color: white;
}
section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5% 0;
}
section div {
  width: 30vw;
  margin-bottom: 3%;
}
section img {
  width: 100%;
}
section h3 {
  text-align: center;
}
footer {
  background-color: gray;
  padding: 5%;
}
footer a {
  display: block;
  margin: auto;
}
.spacer {
  height: 3vw;
}
/*
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem 1.25%;
}
*/
@media screen and (max-width: 500px) {
  header {
    flex-direction: column;
  }
  nav {
    flex-direction: column;
  }
  main {
    width: 90vw;
    height: 56vw;
    margin-top: 3%;
  }
  section {
    justify-content: space-evenly;
  }
  section div {
    width: 45vw;
  }
  header h2 {
    padding-left: 0;
  }
}
@media screen and (max-width: 700px) {
  header {
    flex-direction: column;
  }
  nav {
    flex-direction: column;
  }
  header h2 {
    padding-left: 0;
  }
  main {
    width: 90vw;
    height: 56vw;
    margin-top: 3%;
  }
}
